.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

@media screen and (max-width: 419px){

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Common */
  .row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 10px;
  }

  img {
    height: 100px;
  }

  #lezioni, #why{
    background-color: #F1F2CD;
  }
  /* Common */

  /* Lezioni */
  #lezioni .row>.left,
  #lezioni .row>.right {
  width: 100%;
  float: none;
  }

  div.left{
    padding-bottom: 20px;
  }
  /* / Lezioni */

  /* Steps */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
  float: none;
  width: 100%;
  padding-top: 20px;
  }
  /* /steps */

  /* Why */
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
  width: 100%;
  margin-top: 20px;
  }
  /* Why */
}

/* BONUS - DIMENSIONI IPAD */
@media screen and (max-width: 768px){

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Common */
  .row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 10px;
  }

  img {
    height: 100px;
  }

  #lezioni, #why{
    background-color: #29e91052;
  }
  /* Common */

  /* Lezioni */
  #lezioni .row>.left,
  #lezioni .row>.right {
  width: 50%;
  float: left;
  padding: 30px;
  }

  div.left{
    padding-bottom: 20px;
  }
  /* / Lezioni */

  /* Steps */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
  float: none;
  width: 100%;
  padding-top: 40px;
  }
  /* /steps */

  /* Why */
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
  width: 100%;
  margin-top: 30px;
  }
  /* Why */
}
/* BONUS - DIMENSIONI IPAD */